

img {
    max-width: 100%;
}

.img-container {
    width: 70%;
    margin: 0 auto;
}

span {
    width: 10%;
    font-size: 40px;
    cursor: pointer;
}

#img-target {
    max-width: 75%;
    margin: 0 10px;
}
